@import "../../assets/utilities/variables";

.wrap {
    height: 80%;
    width: 80%;
    border: 5px double var(--default-secondary-main);
    padding: 2vw;
    margin-left: 1vw;
    transition-duration: 200ms;

    &:hover {
        border-color: var(--default-cold);
        transform: scale(1.05);
        transition: all 200ms ease-in-out;
    }


    @media (max-width: #{$mobile-width}) {
        margin-left: 3vw;
      }

    .stat {
        display: flex;
        flex-direction: column;
        margin-bottom: 5vh;

        .name {
            color: var(--default-cold);
            font-size: x-large;

            @media (max-width: #{$mobile-width}) {
                font-size: medium;
            }
        }

        .value {
            font-size: large;
            color: var(--default-secondary-main);

            @media (max-width: #{$mobile-width}) {
                font-size: small;
              }
        }
    }
}
