<div class="main">
  <div class="stats">

  </div>
  <div class="exp">

  </div>
  <div class="desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Hic libero ipsam odit reiciendis natus numquam modi quos voluptatum incidunt! Molestiae numquam necessitatibus fugit hic obcaecati dolorem suscipit, quo aliquam, placeat sit minus perferendis, maxime possimus ex atque? Laborum modi excepturi eum optio, ea, nisi sunt iure dolorem aspernatur perspiciatis delectus?</div>
  <div class="desc desc2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia qui voluptate, provident debitis sint iste quos dicta quae, quaerat, fugiat ad blanditiis minus? Perspiciatis voluptate mollitia culpa magnam ea inventore repellendus veniam, repudiandae excepturi illum similique minus, dolorem temporibus assumenda nihil. Laudantium voluptatum delectus assumenda eligendi temporibus impedit mollitia deserunt?</div>
</div>
