<div class="main">
  <div class="settings">
    <app-settings-bar></app-settings-bar>
  </div>
  <div class="stats">
    <app-stats></app-stats>
  </div>
  <div class="exp">
    <h2>{{'Gdzie obecnie pracuję?' | translate }}</h2>
    <app-experience-step [stepInfo]="getCurrentExperienceStep()"></app-experience-step>
    <a class="full-experience-link" [routerLink]="['/full-experience']">{{'Kliknij, aby zobaczyć pełne doświadczenie' | translate }}</a>
  </div>
  <div class="desc desc1">{{ 'Nazywam się Radosław Jakubowski. Pochodzę z Podkarpacia, a dokładniej z niewielkiej miejscowości nieopodal Jasła. Tam stawiałem swoje pierwsze kroki i pisałem pierwsze litery. Nigdy nie zapomnę dnia, w którym w domu pojawił się komputer. Od tamtej pory spędzałem przed nim godziny, ale nieświadomi rodzice ciągle powtarzali: &ldquo;Co Ci z tego komputera...?&rdquo;. Historia jednak potoczyła się nieco inaczej i dziś utrzymuje się z programowania.' | translate }}</div>
  <div class="desc desc2">{{'Jak do tego doszło? Podczas pandemii straciłem pracę w wyuczonym zawodzie i stwierdziłem, że warto byłoby obudzić uśpione wewnątrz mnie dziecko, które spędzało dnie przed komputerem i zacząłem się uczyć. Upór, determinacja i ciężka praca pozwoliły mi przyswajać podstawy bardzo szybko... Tak szybko, że po kilku miesiącach dostałem się na staż w IT, gdzie zbierałem pierwsze doświadczenia. Nauka nadal trwa w najlepsze - a co najważniejsze, sprawia mi to ogromną radość.' | translate }}</div>
</div>
