@import "../../assets/utilities/variables";

.main {
  grid-template-areas:
  "settings settings settings settings"
  "stats stats desc1 desc1"
  "stats stats desc1 desc1"
  "desc2 desc2 exp exp"
  "desc2 desc2 exp exp";
  grid-template-rows: 0.1fr 0.5fr 0.5fr 0.5fr 0.5fr;
  font-family: 'Main';
  font-size: large;

  .settings {
    grid-area: settings;
  }

  .desc {
    color: var(--default-warm);
    padding: 5vw;
    max-width: fit-content;
    line-height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow:
    1px 1px black;

    p {
      display: inline-block;

      &::first-letter {
        font-size: 48px;
        line-height: 48px;

        @media (max-width: #{$mobile-width}) {
          font-size: 32px;
          line-height: 32px;
        }
      }
    }

    @media (max-width: #{$mobile-width}) {
      font-size: small;
    }
  }

  .desc1 {
    grid-area: desc1;
  }

  .desc2 {
    grid-area: desc2;
  }

  .stats {
    padding: 2vw;
    grid-area: stats;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .exp {
    padding: 2vw;
    color: var(--default-cold);
    grid-area: exp;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition-duration: 200ms;
    margin-right: 10px;

    h2 {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      font-size: x-large;
      color: var(--default-warm);
      text-shadow:
      1px 1px var(--default-secondary-main),
      2px 2px black;

      @media (max-width: #{$mobile-width}) {
        font-size: medium;
      }
    }

    .full-experience-link {
      margin-left: 1vw;
      text-align: center;
      color: var(--default-secondary-main);
      text-decoration: underline;
      margin-top: 2em;
      font-size: smaller;
      text-shadow:
      1px 1px black;

      &:hover {
        cursor: pointer;
        color: var(--default-cold);
      }

      @media (max-width: #{$mobile-width}) {
        font-size: x-small;
      }
    }
  }
}
