@import "../../assets/utilities/variables";

.main {
  grid-template-areas:
  "settings settings settings settings"
  "stats stats desc1 desc1"
  "stats stats desc1 desc1"
  "desc2 desc2 exp exp"
  "desc2 desc2 exp exp"
  "hobbies hobbies hobbies hobbies";
  grid-template-rows: 0.1fr 0.5fr 0.5fr 0.5fr 0.5fr 0.1fr;
  font-family: 'Main';
  font-size: large;

  .settings {
    grid-area: settings;
  }

  .desc {
    color: var(--default-warm);
    padding: 5vw;
    max-width: fit-content;
    line-height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      display: inline-block;

      &::first-letter {
        font-size: 48px;
        line-height: 48px;

        @media (max-width: #{$mobile-width}) {
          font-size: 32px;
          line-height: 32px;
        }
      }
    }

    @media (max-width: #{$mobile-width}) {
      font-size: small;
    }
  }

  .hobbies {
    grid-area: hobbies;
    color: var(--default-warm);
    padding: 5vw;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
      white-space: normal;

      &::first-letter {
        font-size: 48px;
        line-height: 48px;

        @media (max-width: #{$mobile-width}) {
          font-size: 32px;
          line-height: 32px;
        }
      }
    }

    @media (max-width: #{$mobile-width}) {
      font-size: small;
    }

    .to_hobbies {
      background-color: var(--default-highlight-bg);
      margin-top: 15px;
      margin-left: 5%;
      margin-right: 5%;
      height: 50px;
      width: fit-content;
      text-align: center;
      font-family: 'Main';
      font-size: larger;
      color: var(--default-warm);
      border: 2px;
      border-style: inset;
      border-color: var(--default-secondary-main);
      border-radius: 10px;
      transition: 200ms;
      box-shadow:
      1px 1px var(--default-secondary-main),
      2px 2px var(--default-secondary-main),
      3px 3px var(--default-secondary-main),
      4px 4px var(--default-highlight-bg),
      5px 5px var(--default-highlight-bg),
      6px 6px var(--default-highlight-bg),
      7px 7px black,
      inset 0 0 10px var(--default-secondary-main);
      animation: pulse-about 3s ease-in-out infinite;

      @media (max-width: #{$mobile-width}) {
        font-size: small;
        min-width: fit-content;
      }

      &:hover {
        transition: background-color 200ms ease-in-out, font-weight 0ms ease-in-out;
        background-color: var(--default-secondary-main);
        font-weight: bold;
        cursor: pointer;
      }
    }
  }

  .desc1 {
    grid-area: desc1;
  }

  .desc2 {
    grid-area: desc2;
  }

  .stats {
    padding: 2vw;
    grid-area: stats;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: pulse-about 3s ease-in-out infinite;
  }

  .exp {
    padding: 2vw;
    color: var(--default-cold);
    grid-area: exp;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition-duration: 200ms;
    margin-right: 10px;

    h2 {
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      font-size: x-large;
      color: var(--default-warm);
      text-shadow:
      1px 1px var(--default-secondary-main),
      2px 2px black;

      @media (max-width: #{$mobile-width}) {
        font-size: medium;
      }
    }

    .full-experience-link {
      margin-left: 1vw;
      text-align: center;
      color: var(--default-warm);
      text-decoration: underline;
      margin-top: 2em;
      font-size: smaller;

      &:hover {
        cursor: pointer;
        color: var(--default-cold);
      }

      @media (max-width: #{$mobile-width}) {
        font-size: x-small;
      }
    }
  }

  @keyframes pulse-about {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.01);
    }
    100% {
      transform: scale(1);
    }
  }
}
