<div class="main">
  <div class="settings">
    <app-settings-bar></app-settings-bar>
  </div>
  <div class="frameworks">
    <h2>{{'Frameworki' | translate }}</h2>
    <div class="frameworks-list">
      <div class="framework" *ngFor="let framework of frameworks">
        <img [src]='framework.imgPath' [alt]='framework.name' [title]='framework.name'>
        <p>{{ framework.name }}</p>
        <app-animated-skill-bar [skillLevel]="framework.skill"></app-animated-skill-bar>
      </div>
    </div>
  </div>
  <div class="languages">
    <h2>{{ 'Języki' | translate }}</h2>
    <div class="languages-list">
      <div class="language" *ngFor="let language of languages">
        <img [src]='language.imgPath' [alt]='language.name' [title]='language.name'>
        <p>{{ language.name }}</p>
        <app-animated-skill-bar [skillLevel]="language.skill"></app-animated-skill-bar>
      </div>
    </div>
  </div>
</div>
