@import "../src/assets/utilities/variables";

@font-face {
  font-family: "Main";
  src: url(./assets/fonts/Courgette-Regular.ttf);
}

:root {
  --default-main: #{$main};
  --default-secondary-main: #{$secondary-main};
  --default-cold: #{$cold};
  --default-warm: #{$warm};
  --default-highlight-bg: #{$content-bg};
}

.alt1 {
  --default-main: #{$main-alt1} !important;
  --default-secondary-main: #{$secondary-main-alt1} !important;
  --default-cold: #{$cold-alt1} !important;
  --default-warm: #{$warm-alt1} !important;
  --default-highlight-bg: #{$content-bg1} !important;
}

.alt2 {
  --default-main: #{$main-alt2} !important;
  --default-secondary-main: #{$secondary-main-alt2} !important;
  --default-cold: #{$cold-alt2} !important;
  --default-warm: #{$warm-alt2} !important;
  --default-highlight-bg: #{$content-bg2} !important;
}

.alt3 {
  --default-main: #{$main-alt3} !important;
  --default-secondary-main: #{$secondary-main-alt3} !important;
  --default-cold: #{$cold-alt3} !important;
  --default-warm: #{$warm-alt3} !important;
  --default-highlight-bg: #{$content-bg3} !important;
}

.christmas {
  background-image: url("../src/assets/img/themes/seasons/christmas-background.webp");
  --default-main: #{$main-christmas} !important;
  --default-secondary-main: #{$secondary-main-christmas} !important;
  --default-cold: #{$cold-christmas} !important;
  --default-warm: #{$warm-christmas} !important;
  --default-highlight-bg: #{$content-bg-christmas} !important;
}

body {
  background-image: url('../src/assets/img/regular-background.webp');
  background-color: var(--default-cold);
  padding-left: 10vw;
  padding-right: 10vw;

  @media (max-width: #{$mobile-width}) {
    padding-right: 5vw;
    padding-left: 5vw;
  }
}

.glow {
  &:hover {
    box-shadow: 0 5px 25px var(--default-secondary-main);
  }
}

.main {
  border-radius: 20px;
  display: grid;
  background-color: var(--default-main);
  min-height: 98vh;
  max-height: fit-content;
  width: 100%;
  grid-template-rows: 0.1fr repeat(3, 1fr) 0.1fr;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
  "nav nav nav nav"
  "hello hello photo photo"
  "hello hello photo photo"
  "menu menu menu menu"
  "menu menu menu menu";
  box-shadow:
  5px 5px var(--default-highlight-bg),
  6px 6px black,
  inset 0 0 10px var(--default-secondary-main);

  @media (max-width: #{$mobile-width}) {
    grid-template-areas:
    "nav nav nav nav"
    "photo photo photo photo"
    "photo photo photo photo"
    "hello hello hello hello"
    "menu menu menu menu";
  }
}
