@import "../src/assets/utilities/variables";

@font-face {
  font-family: "Main";
  src: url(./assets/fonts/Courgette-Regular.ttf);
}

body {
  background-color: $cold;
  padding-left: 10vw;
  padding-right: 10vw;

  @media (max-width: #{$mobile-width}) {
    padding-right: 5vw;
    padding-left: 5vw;
  }
}

.main {
  display: grid;
  background-color: $main;
  height: 98vh;
  width: 100%;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
  "hello hello photo photo"
  "hello hello photo photo"
  "menu menu menu menu"
  "menu menu menu menu";

  @media (max-width: #{$mobile-width}) {
    grid-template-areas:
    "photo photo photo photo"
    "photo photo photo photo"
    "hello hello hello hello"
    "menu menu menu menu";
  }
}
