@import "../../../assets/utilities/_variables.scss";

.bar-container {
  cursor: default;
  position: relative;
  display: flex;
  height: 20px;
  border: 2px solid (var(--default-warm));
  border-radius: 5px;
  font-weight: normal;
  text-shadow: 1px 1px black;

  .bar {
    height: 100%;
    background: var(--default-warm);
    overflow: hidden;
    text-align: center;
  }

  .value {
    position: absolute;
    width: 100%;
    text-align: center;
    color: var(--default-secondary-main)
  }
}
