@import "../../assets/utilities/variables";

.main {
  .hello {
    grid-area: hello;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Main';
    font-size: large;
    color: $warm;
    text-shadow: 2px 2px $secondary-main;

    @media (max-width: #{$mobile-width}) {
      font-size: smaller;
    }

  }

  .photo {
    grid-area: photo;
    display: flex;
    align-items: center;
    justify-content: center;

    .profile-picture {
      margin-top: 2vh;
      border: 10px double $cold;
      box-shadow: 0px 0px 5em $cold;
      max-height: 90%;
      max-width: 90%;
      transition: 500ms;

      @media (max-width: #{$mobile-width}) {
        max-height: 70%;
        max-width: 70%;
      }

      &:hover {
        transform: scale(1.05);
        transition: transform 500ms ease-in-out;
      }
    }
  }

  .menu {
    grid-area: menu;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;

    .button {
      margin: 5% 5% 5% 5%;
      height: 10vh;
      width: 15em;
      line-height: 10vh;
      text-align: center;
      font-family: 'Main';
      font-size: x-large;
      color: $warm;
      border: 1px solid $warm;
      transition: 200ms;

      @media (max-width: #{$mobile-width}) {
        font-size: medium;
        min-width: fit-content;
      }

      &:hover {
        transition: background-color 200ms ease-in-out, font-weight 0ms ease-in-out;
        background-color: $secondary-main;
        font-weight: bold;
        cursor: pointer;
      }
    }
  }
}
