@import "../../assets/utilities/variables";

.main {
  .hello {
    grid-area: hello;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Main';
    font-size: large;
    color: var(--default-warm);
    text-shadow: 3px 3px var(--default-secondary-main);

    @media (max-width: #{$mobile-width}) {
      font-size: smaller;
    }
  }

  .settings {
    grid-area: nav;
  }

  .photo {
    grid-area: photo;
    display: flex;
    align-items: center;
    justify-content: center;

    .profile-picture {
      background-color: var(--default-secondary-main);
      margin-top: 2vh;
      border-radius: 50%;
      box-shadow: 0px 0px 1em 1em var(--default-cold);
      max-height: 90%;
      max-width: 90%;
      animation: float 6s ease-in-out infinite;

      @media (max-width: #{$mobile-width}) {
        max-height: 70%;
        max-width: 70%;
      }
    }
  }

  .menu {
    grid-area: menu;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 5vh;
    margin-bottom: 5vh;

    .button {
      background-color: var(--default-highlight-bg);
      margin-left: 5%;
      margin-right: 5%;
      height: 10vh;
      width: 15em;
      line-height: 10vh;
      text-align: center;
      font-family: 'Main';
      font-size: x-large;
      color: var(--default-warm);
      border: 2px;
      border-style: ridge;
      border-color: var(--default-secondary-main);
      border-radius: 10px;
      transition: 200ms;

      @media (max-width: #{$mobile-width}) {
        font-size: medium;
        min-width: fit-content;
      }

      &:hover {
        transition: background-color 200ms ease-in-out, font-weight 0ms ease-in-out;
        background-color: var(--default-secondary-main);
        font-weight: bold;
        cursor: pointer;
      }
    }
  }

  @keyframes float {
    0% {
      box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
      transform: translatey(0px);
    }
    50% {
      box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
      transform: translatey(-25px);
    }
    100% {
      box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
      transform: translatey(0px);
    }
  }
}
