@import "../../assets/utilities/variables";

.modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 20vh;
  left: 5vw;
  background-color: var(--default-cold);
  z-index: 3;
  height: fit-content;
  width: 90vw;
  font-family: 'Main';
  color: var(--default-main);
  border: 5px solid var(--default-highlight-bg);
  border-radius: 10px;

  @media (max-width: #{$mobile-width}) {
    font-size: small;
  }

  .language-section {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 40%;
    width: 100%;

    .languages {
      max-width: 80%;
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: row;

      .language {
        padding: 5%;

        &:hover {
          cursor: pointer;
        }

        img {
          max-width: 100%;
        }
      }
    }
  }

  .theme-section {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    height: 40%;
    width: 100%;

    @media (max-width: #{$mobile-width}) {
      width: 75%;
    }

    .theme {
      position: relative;
      display: flex;
      flex-direction: row;
      margin-left: 2%;
      margin-right: 2%;

      .creator {
        display: grid;
        place-items: center;
        position: absolute;
        cursor: pointer;
        height: 200px;
        width: 75px;

        @media (max-width: #{$mobile-width}) {
          width: 50px;
        }

        p {
          text-align: center;
        }
      }
    }
  }

  .modal-exit {
    margin-top: 20px;

    .exit-button {
      border: 1px solid var(--default-secondary-main);
      padding: 10px;
      transition: 200ms;
      margin-bottom: 10px;

      &:hover {
        transition: background-color 200ms ease-in-out, font-weight 0ms ease-in-out;
        background-color: var(--default-warm);
        font-weight: bold;
        cursor: pointer;
      }
    }
  }

  .active {
    box-shadow: 0 0 2px 2px var(--default-secondary-main);
  }
}
