<div class="modal">
  <div class="language-section">
    <h1>{{'Wybierz język' | translate}}</h1>
    <div class="languages">
      <span class='language'>
        <img class="glow"
          src="../../assets/img/countries/pl.webp"
          (click)="setLanguage('pl')"
          [ngClass]="{'active': currentLanguage === 'pl'}">
      </span>
      <span class='language'>
        <img class="glow"
          src="../../assets/img/countries/uk.webp"
          (click)="setLanguage('en')"
          [ngClass]="{'active': currentLanguage === 'en'}">
      </span>
    </div>
  </div>
  <div>

  </div>
  <h1 *ngIf="!holidaysService.isChristmasTime()">{{'Wybierz motyw' | translate }}</h1>
  <div class="theme-section" *ngIf="!holidaysService.isChristmasTime()">
    <span class='theme'>
      <app-theme-display
        class="glow"
        [ngClass]="{'active': currentTheme === ''}"
        (click)="setTheme('')"
        [main]="'#506D84'"
        [secondary]="'#889EAF'"
        [cold]="'#D4B499'"
        [warm]="'#F3D5C0'"
      ></app-theme-display>
    </span>
    <span class='theme'>
      <app-theme-display
        class="glow"
        [ngClass]="{'active': currentTheme === 'alt1'}"
        (click)="setTheme('alt1')"
        [main]="'#483434'"
        [secondary]="'#6B4F4F'"
        [cold]="'#EED6C4'"
        [warm]="'#FFF3E4'"
      ></app-theme-display>
    </span>
    <span class='theme'>
      <app-theme-display
        class="glow"
        [ngClass]="{'active': currentTheme === 'alt2'}"
        (click)="setTheme('alt2')"
        [main]="'#F0A500'"
        [secondary]="'#ffffff'"
        [cold]="'#082032'"
        [warm]="'#6e3a09'"
      ></app-theme-display>
    </span>
    <span class='theme'>
      <app-theme-display
        class="glow"
        [ngClass]="{'active': currentTheme === 'alt3'}"
        (click)="setTheme('alt3')"
        [main]="'#EB92BE'"
        [secondary]="'#FFEF78'"
        [cold]="'#e9cfa8'"
        [warm]="'#70118d'"
      ></app-theme-display>
    </span>
    <span class='theme'>
      <app-theme-display
        [ngClass]="{'active': currentTheme === 'custom'}"
      ></app-theme-display>
      <div class="creator glow" (click)="openCustomThemeModal()">
        <p>Create your own theme</p>
      </div>
    </span>
  </div>
  <div class='modal-exit'>
    <div class="exit-button glow" (click)="closeModal()">{{'Zamknij' | translate }}</div>
  </div>
</div>
