//default theme
$main: #506D84;
$secondary-main: #889EAF;
$cold: #D4B499;
$warm: #F3D5C0;
$content-bg: #3f5b72;

//alt1
$main-alt1: #483434;
$secondary-main-alt1: #6B4F4F;
$cold-alt1: #EED6C4;
$warm-alt1: #FFF3E4;
$content-bg1: #3b2b2b;

//alt2
$main-alt2:   #F0A500;
$secondary-main-alt2: #ffffff;
$cold-alt2:   #082032;
$warm-alt2:   #000000;
$content-bg2: #dfba6a;

//alt3
$main-alt3:   #EB92BE;
$secondary-main-alt3: #FFEF78;
$cold-alt3:   #e9cfa8;
$warm-alt3:   #70118d;
$content-bg3: #e973ae;

$mobile-width: 768px;
