@import "../../assets/utilities/variables";

.step-info {
    display: flex;
    background-color: var(--default-highlight-bg);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: larger;
    color: var(--default-cold);
    transition-duration: 200ms;
    border: 2px;
    border-style: inset;
    border-color: var(--default-secondary-main);
    border-radius: 10px;
    padding: 2vw;
    box-shadow:
    1px 1px var(--default-secondary-main),
    2px 2px var(--default-secondary-main),
    3px 3px var(--default-secondary-main),
    4px 4px var(--default-highlight-bg),
    5px 5px var(--default-highlight-bg),
    6px 6px var(--default-highlight-bg),
    7px 7px black;
    text-shadow:
    1px 1px black;

    &:hover {
      border-color: var(--default-cold);
      transform: scale(1.05);
      transition: all 200ms ease-in-out;
      cursor: pointer;
  }

    @media (max-width: #{$mobile-width}) {
        font-size: small;
      }

    .company-logo {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            max-width: 90%;
            object-fit: contain;
        }
    }

    p {
        margin-bottom: 2em;
    }
}
