@import "../../assets/utilities/variables";

.step-info {
    display: flex;
    margin-left: 1vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: large;
    color: $cold;
    transition-duration: 200ms;
    border: 5px double $secondary-main;
    padding: 5vw;

    &:hover {
      border-color: $cold;
      transform: scale(1.05);
      transition: all 200ms ease-in-out;
      cursor: pointer;
  }

    @media (max-width: #{$mobile-width}) {
        font-size: small;
      }

    .company-logo {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            max-width: 100%;
            object-fit: contain;
        }
    }

    p {
        margin-bottom: 2em;
    }
}
