@import "../../assets/utilities/variables";

.step-info {
    display: flex;
    background-color: var(--default-highlight-bg);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: larger;
    color: var(--default-cold);
    transition-duration: 200ms;
    border: 2px;
    border-style: ridge;
    border-color: var(--default-secondary-main);
   border-radius: 50px;
    padding: 2vw;

    &:hover {
      border-color: var(--default-cold);
      transform: scale(1.05);
      transition: all 200ms ease-in-out;
      cursor: pointer;
  }

    @media (max-width: #{$mobile-width}) {
        font-size: small;
      }

    .company-logo {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            max-width: 100%;
            object-fit: contain;
        }
    }

    p {
        margin-bottom: 2em;
    }
}
