@import "../../assets/utilities/variables";

.settings {
  height: 45px;
  margin-top: 10px;
  margin-left: 10px;
  display: flex;
  flex-direction: row;

  .settings-item {
    list-style-type: none;

    &:hover {
      transform: scale(1.1);
      cursor: pointer;
    }

    img {
      max-height: 100%;
      margin-right: 20px;

      &:hover {
        background-color: var(--default-secondary-main);
        background-blend-mode: overlay;
        border-radius: 25%;
      }
    }
  }
}
