@import "../../assets/utilities/variables";

.main {
  font-family: 'Main';
  grid-template-rows: 0.2fr 3fr 0.2fr;
  grid-template-areas:
  "settings settings settings settings"
  "info info info info"
  "rights rights rights rights";
  color: var(--default-warm);

  @media (max-width: #{$mobile-width}) {
    font-size: smaller;
  }

  .settings {
    grid-area: settings;
  }

  .info {
    grid-area: info;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (max-width: #{$mobile-width}) {
      justify-content: center;
    }

    h1, h2, h3 {
      width: 100%;
      text-align: center;
      text-shadow:
      1px 1px black;
    }

    h1 {
      animation: tilt ease-in-out 2s infinite;
    }

    a {
      max-height: 120px;
      img {
        height: 100%;


        &:hover {
          background-color: var(--default-secondary-main);
          border-radius: 11%;
        }
      }
    }

    .cv-download {
      display: flex;
      width: 100%;
      justify-content: center;
      margin-top: 5vh;
      margin-bottom: 5vh;
    }

    .button {
      background-color: var(--default-highlight-bg);
      margin-left: 5%;
      margin-right: 5%;
      height: 3vh;
      width: 40%;
      text-align: center;
      font-family: 'Main';
      color: var(--default-warm);
      border: 2px;
      border-style: inset;
      border-color: var(--default-secondary-main);
      border-radius: 10px;
      text-decoration: none;
      box-shadow:
      1px 1px var(--default-secondary-main),
      2px 2px var(--default-secondary-main),
      3px 3px var(--default-secondary-main),
      4px 4px var(--default-highlight-bg),
      5px 5px var(--default-highlight-bg),
      6px 6px var(--default-highlight-bg),
      7px 7px black,
      inset 0 0 10px var(--default-secondary-main);

      @media (max-width: #{$mobile-width}) {
        width: 70%;
        font-size: small;
        min-width: fit-content;
      }

      &:hover {
        transition: background-color 200ms ease-in-out, font-weight 0ms ease-in-out;
        background-color: var(--default-secondary-main);
        font-weight: bold;
        cursor: pointer;
      }
    }

    .source-code {
      display: flex;
      justify-content: center;
      width: 100%;
      margin-top: 50px;
    }
  }

  .rights {
    grid-area: rights;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-shadow:
    1px 1px var(--default-highlight-bg),
    2px 2px var(--default-highlight-bg);
  }

  @keyframes tilt {
    0% {
      transform: rotatez(-1deg);
    }
    50% {
      transform: rotatez(1deg);
    }
    100% {
      transform: rotatez(-1deg);
    }
  }
}
