<div class="main">
  <div class="settings">
    <app-settings-bar></app-settings-bar>
  </div>
  <div class="info">
    <h1>{{'Dziękuje za odwiedzenie mojej strony' | translate }}!</h1>
    <h2 *ngIf="duration !== 0">{{ 'Twoja sesja trwa' | translate }} {{duration}} {{'sekund' | translate}}.</h2>
    <h3>{{'Mam nadzieję, że rozjaśniła ona trochę kim jestem i jakie są moje umiejętności' | translate}}.</h3>
    <h3>{{'Możesz skontaktować się za mną, klikając w poniższy obrazek' | translate}}.</h3>
    <a href="https://www.linkedin.com/in/rados%C5%82aw-jakubowski-ab1597101/" target="_blank"><img class="glow" src='../../assets/img/linked-in.png'></a>
    <p class="source-code">
      <a href="https://github.com/radekjakubowski/folio" target="_blank">{{'Kod źródłowy aplikacji dostępny tutaj' | translate}}.</a>
    </p>
  </div>
  <div class="rights">
    <p class='inscript'>{{'wykonał' | translate}} Radosław Jakubowski, 2021</p>
    <p class="trademark">{{'Wszelkie prawa zastrzeżone' | translate}} ©</p>
  </div>
</div>
