<div class="modal">
  <div class="title">
    <h1>Choose colors and click apply to create your custom theme!</h1>
  </div>
  <div class="picker">
    <div class="color-picker">
      <span>Main color</span><input #mainInput type="color" [value]="'#ffffff'" (change)="setColor('main', mainInput.value)">
    </div>
    <div class="color-picker">
      <span>Secondary main color</span><input #secondaryInput type="color" [value]="'#ffffff'" (change)="setColor('secondaryMain', secondaryInput.value)">
    </div>
    <div class="color-picker">
      <span>Cold color</span><input #coldInput type="color" [value]="'#ffffff'" (change)="setColor('cold', coldInput.value)">
    </div>
    <div class="color-picker">
      <span>Warm color</span><input #warmInput type="color" [value]="'#ffffff'" (change)="setColor('warm', warmInput.value)">
    </div>
  </div>
  <div class="preview">
    <app-theme-display
    [main]="main"
    [secondary]="secondaryMain"
    [cold]="cold"
    [warm]="warm"
    [width]="'150px'"
    [height]="'400px'"
    ></app-theme-display>
  </div>
  <div class="menu">
    <div class="button" (click)="applyTheme()">Apply</div>
    <div class="button" (click)="exitModal()">Exit</div>
  </div>
</div>
