<div class="modal">
  <div class="title">
    <h1>{{ 'Wybierz kolory i naciśnij zastosuj, aby stworzyć swój motyw!' | translate }}</h1>
  </div>
  <div class="picker">
    <div class="color-picker">
      <span>{{ 'Kolor główny' | translate }}</span><input #mainInput type="color" [value]="main ? main : default" (change)="setColor('main', mainInput.value)">
    </div>
    <div class="color-picker">
      <span>{{ 'Kolor uzupełniający' | translate }}</span><input #secondaryInput type="color" [value]="secondaryMain ? secondaryMain : default" (change)="setColor('secondaryMain', secondaryInput.value)">
    </div>
    <div class="color-picker">
      <span>{{ 'Kolor chłodny' | translate }}</span><input #coldInput type="color" [value]="cold ? cold : default" (change)="setColor('cold', coldInput.value)">
    </div>
    <div class="color-picker">
      <span>{{ 'Kolor ciepły' | translate }}</span><input #warmInput type="color" [value]="warm ? warm : default" (change)="setColor('warm', warmInput.value)">
    </div>
  </div>
  <div class="preview">
    <h2>{{ 'Podgląd' | translate }}</h2>
    <app-theme-display
      class="color-preview"
      [main]="main"
      [secondary]="secondaryMain"
      [cold]="cold"
      [warm]="warm"
      [inThemeChoosing]="true"
    ></app-theme-display>
  </div>
  <div class="menu">
    <div class="button" (click)="applyTheme()">{{ 'Zastosuj' | translate }}</div>
    <div class="button" (click)="exitModal()">{{ 'Zamknij' | translate }}</div>
  </div>
</div>
